html {
    background-color: #083344;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* button */

#newBook {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ecfeff;
    box-shadow: 3px 3px 3px;
}

#newBook:hover {
    background-color: #cffafe;
    cursor: pointer;
}

#newBook:active {
    background-color: #a5f3fc;
}

/* Table styling */

table > caption {
    color: #cffafe;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid #083344;
    padding: 10px 20px;
}

th {
    background-color: #0891b2;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #ecfeff;
}

tr:nth-child(odd) td {
    background-color: #cffafe;
}

#check,
#cross {
    height: 20px;
}

#del {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ecfeff;
}

#del:hover {
    background-color: #a5f3fc;
    cursor: pointer;
}

#del:active {
    background-color: #cffafe;;
}

#check:hover,
#cross:hover {
    cursor: pointer;
}

/* tooltip styling and function */

.readColumn {
    position: relative;
}

.arrow_box {
	position: absolute;
    width: 100px;
	background: #ecfeff;
	border: 2px solid #0891b2;
    color: #083344;
    opacity: 0;
    padding: 5px;
    bottom: 40px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0891b2;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #ecfeff;
	border-width: 12px;
	margin-left: -12px;
}

table:hover > thead > tr > .readColumn > .arrow_box {
    opacity: 1;
}

.arrow_box:hover {
    opacity: 1;
}

/* Dialog and form styling */

::backdrop {
    background-color: #083344;
    opacity: 0.75;
}

.dialog {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ecfeff;
}

#form {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
}

.header {
    font-size: 1.5rem;
    justify-self: center;
}

.fieldset {
    margin-bottom: 20px;
    padding: 0;
    width: 250px;
    height: 50px;
}

#submit {
    margin-bottom: 10px;
}

#submit,
#cancel {
    justify-self: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #083344;
    color: #cffafe;;
    box-shadow: 3px 3px 3px;
}

#submit:hover,
#cancel:hover {
    background-color: #164e63;
}

#submit:active,
#cancel:active {
    background-color: #155e75;
}

/*  Input field styling and validation */

.input {
    box-sizing: border-box;
    background-color: #ecfeff;
    border: none;
    width: 98%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input:valid {
    background-image: url(./icons/check-circle.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

input:invalid {
    background-image: url(./icons/x-circle.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

input:placeholder-shown {
    background: transparent;
}