html {
    background-color: #083344;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* button */

#newBook {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ecfeff;
    box-shadow: 3px 3px 3px;
}

#newBook:hover {
    background-color: #cffafe;
}

#newBook:active {
    background-color: #a5f3fc;
}

/* Table styling */

table > caption {
    color: #cffafe;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid #083344;
    padding: 10px 20px;
}

th {
    background-color: #0891b2;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #ecfeff;
}

tr:nth-child(odd) td {
    background-color: #cffafe;
}

#check,
#cross {
    height: 20px;
}

/* Dialog styling */

::backdrop {
    background-color: #083344;
    opacity: 0.75;
}

.dialog {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ecfeff;
}

#form {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
}

.header {
    font-size: 1.5rem;
    justify-self: center;
}

.fieldset {
    margin-bottom: 20px;
    padding: 0;
    width: 250px;
    height: 50px;
}

#submit {
    margin-bottom: 10px;
}

#submit,
#cancel {
    justify-self: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #083344;
    color: #cffafe;;
    box-shadow: 3px 3px 3px;
}

#submit:hover,
#cancel:hover {
    background-color: #164e63;
}

#submit:active,
#cancel:active {
    background-color: #155e75;
}

/*  Input field styling and validation */

.input {
    box-sizing: border-box;
    background-color: #ecfeff;
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input:valid {
    background-color: rgba(139, 195, 74, 0.25);
}

input:invalid {
    background-color: rgba(185, 35, 38, 0.25);
}

input:placeholder-shown {
    background-color: transparent;
}